# Build & dependencies
*.zip
*.log
node_modules/
output.json

# Python cache
__pycache__/

# AWS
.aws-sam/
.terraform/
cdk.out/

# Env & secrets
.env

# Editor & system files
.vscode/
.DS_Store
Thumbs.db

